<md-content layout="column"
            layout-align="center stretch"
            layout-xs="row"
            layout-fill>

    <!-- allow views under app to display next to the list of movies -->
    <div class="mm-center mm-with-border mm-vertical-padding"
         ui-view="application"
         ng-if="vm.hasApplicationView()"
         ng-cloak></div>

    <md-divider ng-if="vm.hasApplicationView()" md-inset></md-divider>

    <!-- always display all movies -->
    <md-content layout="column"
                layout-align="center stretch"
                class="mm-center mm-with-border"
                flex>
        <mm-movie-cart ng-if="vm.movies.length" mm-movies="vm.movies" mm-display-as="table" ng-cloak></mm-movie-cart>
        <md-content flex layout-padding ng-if="!vm.movies.length">
            <h2>
                Currently there are no movies in your database, please use button below
                to add something :)
            </h2>
            <md-button ng-click="vm.newMovieForm($event)">
                <span class="hint">Add new movie</span>
            </md-button>
        </md-content>
    </md-content>

</md-content>
