<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
    <md-card ng-repeat="item in vm.cards">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ ::item.name }}</span>
                <span class="md-subhead">Dashboard card</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-fab" aria-label="Go to action page" ng-click="item.onClick()">
                <md-icon>{{ ::item.icon }}</md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
