<form name="searchInDatabase">
    <div layout-gt-sm="column">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Query</label>
            <input name="searchQuery"
                   ng-model="vm.search.query"
                   ng-minlength="5"
                   ng-maxlength="25"
                   ng-required>
            <span class="hint"
                  ng-if="!vm.search.query">Query to search engine</span>
        </md-input-container>
        <md-input-container class="md-block" ng-if="!vm.search.inAll"
                            flex-gt-sm>
            <label>Database</label>
            <md-select ng-model="vm.search.database"
                       ng-disabled="vm.searchInDatabases.length === 1"
                       ng-required>
                <md-option ng-repeat="item in vm.searchInDatabases"
                           value="{{::item.key}}">{{::item.label}}
                </md-option>
            </md-select>
            <span class="hint" ng-if="!vm.search.database">Database to search in</span>
        </md-input-container>
        <md-input-container ng-if="vm.searchInDatabases.length > 1">
            <md-switch ng-model="vm.search.inAll">Search in all?</md-switch>
        </md-input-container>
        <md-button ng-click="vm.doSearch()"
                   ng-disabled="!(vm.search.query && vm.search.database) || searchInDatabse.$invalid">
            <md-icon>search</md-icon>
            <span class="hint">Execute search</span>
        </md-button>
    </div>
</form>
